@import "global/variables";

/************************************************************************************/
/********************************* Datepicker ***************************************/
/************************************************************************************/
.ui-datepicker-calendar {
    display: none;
}

button.ui-datepicker-current {
    display: none;
}

/************************************************************************************/
/********************************* Text input ***************************************/
/************************************************************************************/
.discount-input {
    margin-bottom: 0 !important;
}