/* ******************************************************************************** */
/* ************************************* All Elements ***************************** */
/* ******************************************************************************** */
/* ******************************************************************************** */
/* **************************** Black - White Color ******************************* */
/* ******************************************************************************** */
/* ******************************************************************************** */
/* ************************************ Flat Color ******************************** */
/* ******************************************************************************** */
/************************************************************************************/
/********************************* Datepicker ***************************************/
/************************************************************************************/
/* line 6, ../scss/discountResponse.scss */
.ui-datepicker-calendar {
  display: none;
}

/* line 10, ../scss/discountResponse.scss */
button.ui-datepicker-current {
  display: none;
}

/************************************************************************************/
/********************************* Text input ***************************************/
/************************************************************************************/
/* line 17, ../scss/discountResponse.scss */
.discount-input {
  margin-bottom: 0 !important;
}
